.container {
  margin-left: 50px;
  margin-right: 50px;
  height: 84vh;

  margin-top: 40px;
  /* display: flex; */
  /* flex-direction: column;
  align-items: center; */
}

.hi {
  /* background-color: pink; */
  display: flex;
  width: 100%;
  /* max-width: 80%; */
  margin-bottom: 1em;
}

.hi h3 {
  /* color: #fc5c1b; */
  color: #3a2a26;
  font-family: 'Mukta';
  font-size: 1.5em;
}

.name {
  /* background-color: pink; */
  max-width: 100%;
  /* width: 80%; */
}

.name h3 {
  font-size: 30px;
  color: #e15a22;
  text-transform: uppercase;
  font-family: 'RobotoMono';
}

.jobs {
  margin-top: -2px;
  max-width: 80%;
  width: 100%;
}

.jobs h4 {
  color: #fc5c1b;
  font-size: 2rem;
}

.garis {
  margin-top: 10px;
  margin-bottom: 30px;
  max-width: 100%;
  /* width: 80%; */
}

.desc {
  display: flex;
  flex-direction: column;
  /* margin-left: 100px; */
  align-items: center;
  /* background-color: red; */
  width: 100%;
}

.desc h5 {
  color: #3a2a26;
  font-size: 0.9em;
}

.gits {
  display: flex;
  justify-content: space-evenly;
  /* background-color: #e15a22; */
  width: 100%;
}

.gits img {
  height: 100px;
}

@media only screen and (min-width: 371px) and (max-width: 468px) {
  .gits {
    flex-direction: column;
  }

  .gits img {
    margin-bottom: 1vh;
  }

  .container {
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 10vh;
  }

  .hi {
    max-width: 90%;
  }

  .name {
    max-width: 100%;
    width: 90%;
  }

  .name h3 {
    font-size: 3em;
  }

  .jobs {
    max-width: 90%;
  }

  .jobs h4 {
    font-size: 1.5rem;
  }

  .desc h5 {
    text-align: center;
    margin-bottom: 10px;
  }
}

@media only screen and (min-width: 781px) and (max-width: 900px) {
  .gits {
    justify-content: flex-end;
    background-color: #fc5c1b;
  }

  .container {
    margin-bottom: 100px;
    overflow-x: scroll;
  }
  .container::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
  .hi {
    max-width: 90%;
    margin-bottom: 0;
  }

  .name {
    max-width: 100%;
    width: 90%;
  }

  .name h3 {
    font-size: 2.7em;
  }

  .jobs {
    max-width: 90%;
  }

  .jobs h4 {
    font-size: 1.3rem;
  }

  .desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .desc h5 {
    text-align: center;
    margin-bottom: 10px;
  }
}
